<div class="comment" id="<%= comment.id %>">
  <p class="commenter">
    Posted by: <%= comment.commenter %>
  </p>

  <p class="comment-body">
    <%= comment.body %>
  </p>

  <p class="comment-links">
    <%= link_to 'Delete Comment', [comment.article, comment], class: "delete-comment" %>
  </p>
</div>