<section id="contact">
  <div class="gallery">
    <p><%= link_to "mailto:" + ENV["ADMIN_EMAIL"] do %>Contact me. <% end %></p>
  </div>
</section>
<section class="credits">
  <div class="gallery">
    <p>
      &copy; Matt Villwock 2015
    </p>
  </div>
</section>