<div class="gallery">
  <div class="gallery-details">
    <h3>Project (Month)</h3>
    <p>a brief one paragraph description of the
      project, including your role, the
      technologies you used, and who the
      work was for (e.g. client, employer, or
      self-initiated project)</p>
      <p>• at least one high resolution screenshot
        • the date you finished working on the
        project
        • a link to the live site (if available)
        • a link to the source code (if available)</p>
  </div>
  <div class="gallery-image">
    <%= link_to 'https://github.com/jeremymcintyre/hummingbird', :class => "image", target: "_blank" do %>
    <%= image_tag('hummingbird-demo.jpg', :class => "image", :alt => "hummingbird") %>
        <% end %>
  </div>
</div>