<section id="splash">
  <div class="gallery">
    <div class="gallery details">
      <h3>About Me</h3>
      <p>I build web applications and APIs, primarily using Ruby on Rails and Postgres. I love expressive variable names, modular code, and pair programming.</p>
      <p>I'm hungry, humble, and eager to learn. I love facing new challenges, learning as fast as I can, teaching others what I know, and being part of something bigger than myself.</p>
    </div>
  </div>
</section>