<section id="writing">
  <div class="gallery">
    <div class="gallery-header">
      <h3>Writing</h3>
    </div>
    <div class="gallery-image col-xs-12">
      <%= image_tag('villwock-hawaii.jpg', :class => 'image', :alt => "this site") %>
    </div>
    <div class="gallery-details col-xs-12">
      <p>Whether it's fiction in my spare time, a letter to a friend, or documentation for code, I love writing. Check out my <%= link_to articles_path do %>blog<% end %> for technical adventures.</p>
    </div>
  </div>
  <!-- end writing here -->
</section>