<h1>Mtvillwock.github.io</h1>
<p>The personal website of Matt Villwock.</p>
<div class="hawaii-pic">
  <%= image_tag("villwock-hawaii-no-shades.jpg", :alt => "Villwock in Hawaii") %>
  <!-- <img src="/images/villwock-hawaii-no-shades.jpg" alt="Villwock in Hawaii"> -->
</div>
<%= link_to 'My Blog', controller: 'articles' %>

<div class="container">
  <div class="summary">
    <p>Hi, my name is Matt. I'm a web developer, and a recent graduate of Dev Bootcamp.</p>
    <p>This is my personal website and <a href="/articles">blog</a>, built using Ruby on Rails. Listed below is my portfolio, along with links to contact me.</p>

    <p>I love building things, working in teams, and solving problems.</p>
  </div>

  <div class="project-list">
    <div class="project">
      <img src="#">
      <p>Hummingbird</p>
    </div>
    <div class="project">
      <img src="#">
      <p>Maps With Friends</p>
    </div>
    <div class="project">
      <img src="#">
      <p>To Be Announced</p>
    </div>
  </div>

  <div>
    <div class="social-media-icon">
      <img src="#">
      <p>Gmail</p>
    </div>
    <div class="social-media-icon">
      <img src="#">
      <p>Twitter</p>
    </div>
    <div class="social-media-icon">
      <img src="#">
      <p>LinkedIn</p>
    </div>
    <div class="social-media-icon">
      <img src="#">
      <p>GitHub</p>
    </div>
  </div>

</div>

