<div class="gallery">
  <div class="gallery-header">
    <h3>Maps with Friends (March)</h3>
    <p>Add friends to a map to see the spread of your connections.</p>
  </div>
  <div class="gallery-image col-xs-12"><%= link_to '/', :class => "image", target: "_blank" do %>
    <%= image_tag('maps-with-friends.jpg', :alt => "this site") %>
    <% end %>
  </div>
  <div class="gallery-details col-xs-12">
    <p>Solo project for fun built using Sinatra, AJAX, and the Google Maps API. Currently under revision.</p>
  </div>
</div>