<div class="">
  <section id="splash/hero/landing/welcome">

  </section>

  <section id="projects">

  </section>

  <section id="writing">

  </section>

  <section id="contact">

  </section>

  <section class="credits"></section>
</div>