<div class="gallery">
          <div class="gallery-header">
            <h3>This Site (March)</h3>
            <p>Personal website and blogging platform. Built with Rails, SCSS, and love.</p>
          </div>
          <div class="gallery-image col-xs-12"><%= link_to '/', :class => "image", target: "_blank" do %>
            <%= image_tag('Villwock_ODM.png', :alt => "this site") %>
            <% end %>
          </div>
          <div class="gallery-details col-xs-12">
            <p>Description of project, role, who the work was for, technologies used, date worked on/finished.</p>
          </div>