$nav-link-color: #5a5a5a;

.contact-icons{
  float: right;
}

.home-nav{
  padding: 1%;
}

.nav-items {
  a {
    float: left;
    margin: auto 10px;
    color: $nav-link-color;
    font-size: 1.05em;
    padding: 14px 10px;
    text-transform: uppercase;
  }
}

.social-media-icon {
  display: inline;
  img {
    // max-height: 100px / 960px * 100%;
    max-height: 36px;
    // max-width: 100px / 960px * 100%;
    max-width: 36px;
  }
}