$nav-link-color: #5a5a5a;

nav {
  padding: 1%;
  ul {
    li {
      display: inline;
    }
  }
}

.nav-items {
  float: left;
  a {
    margin: auto 10px;
    color: $nav-link-color;
    font-size: 1.05em;
    padding: 14px 10px;
    text-transform: uppercase;
  }
}

.contact-icons{
  float: right;
  img {
    max-height: 36px;
    max-width: 36px;
    margin: auto 10px;
    // max-height: 100px / 960px * 100%;
    // max-width: 100px / 960px * 100%;
  }
}