// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-list {
  margin: auto;
  max-width: 85%;
  padding: 3%;
}

.commenter {
  font-size: 1.2em;
  font-stretch: thick;
}

.comment-body {
  font-stretch: thin;
}

.comment-links {

}