// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: 'Roboto', Helvetica, sans-serif;
}

.comment-list {
  margin: auto;
  max-width: 85%;
  padding: 3%;
}

.commenter {
  font-size: 1.2em;
  font-stretch: thick;
}

.comment-body {
  font-stretch: thin;
}

.comment-links a {
  color: #00b0ff;
}

.comment-form {

  margin: auto;
}

.comment-form-commenter {

}

.comment-form-body {

}

.comment-form-submit input{
  background-color: #0d355a;
  border-radius: 5px;
  color: #e7e7e7;
}