* {
    box-sizing: border-box;
    -webkit-font-smoothing: subpixel-antialiased;
}

body {
    background-color: #bbb;
}

// importing partial stylesheet
@import "nav";

// // Variables
$font-stack: "Roboto", Helvetica, sans-serif;
$primary-background-color: #f7f7f7;
$secondary-color: #0D355A;
$primary-link-color: #00b0ff;
$header-color: #0D355A;
$grey: #BABACA;
$white-smoke: #F5F5F5;
$red-background: #B0061E;
$aqua-orange: #d97e4a;
$aqua-green: #4ad87e;
$aqua-blue:#4aa4d9;

//#b00b00; #C00132;
$green-background: #346315;

//#71970 9/E //#360 //#537732 //#2E512E; // #009925;
$dark-grey: #606060;

// // End Variables

@mixin color($header-color) {
    h1, h2, h3 {
        color: $header-color;
    }
}

.main {
    background-color: $primary-background-color;
    font-size: $font-stack;
    section p a {
        color: $primary-link-color;
    }
}

// * {
//     border: 1px red solid;
// }

.gallery {
    h3, p {
        padding: 0.5rem;
        // margin: auto;
        // text-align: center;
    }
}

.gallery:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: "";
    clear: both;
    height: 0;
}

.gallery-details {
    float: left;
}

.gallery-image {
    float: right;
    img {
        max-height: 300px;
        max-width: 100%;
    }
}

.buttons {
    button {
        display: inline;
        max-width: 45%;
    }
    a, a:visited {
        color: inherit;
    }
    max-width: 200px;
}

.buttons:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: "";
    clear: both;
    height: 0;
}

// Buttons under projects
// Colors are being overwritten by Bootstrap
.app {
    float: left;
    // color: white;
    // background-color: red;
}

.source {
    float: right;
    // color: orange;
    // background-color: green;
}

#splash {
    background-color: $green-background;
    h3, p {
        color: #f7f7f7;
    }
}

#projects {
    background-color: $secondary-color;
    h3, p {
        color: #f7f7f7;
    }
}

#writing {
    background-color: $red-background;
    h3, p {
        color: #f7f7f7;
    }
}

#contact {
    color: black;
    //  this is being overwritten somewhere
    // background-color: $aqua-orange;
}

.contact-buttons {
    button {
        display: inline;
        max-width: 45%;
    }
    a, a:visited {
        color: inherit;
    }
    max-width: 400px;
}

.email-button {
    margin-left: 20px;
}

.resume-button {
    margin-left: 50px;
}

.credits{
  text-align: center;
}
// .fa{}
// .fa-copyright{}