<!DOCTYPE html>
<html>
<head>
  <title>Matt Villwock | Software Developer</title>
  <%= csrf_meta_tags %>
  <meta content="Matt Villwock is a web developer and recent graduate of Dev Bootcamp. Click here to contact Matt or see his projects.">
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0' name='viewport'>
</head>
<body>

  <%= yield %>
  <!-- moved here to allow page to load and then render styling and fonts -->
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
