<!DOCTYPE html>
<html>
<head>
  <title>Mtvillwock.github.io</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='//fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <meta content="Matt Villwock is a web developer and recent graduate of Dev Bootcamp.">
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0' name='viewport'>
</head>
<body>

  <%= yield %>

</body>
</html>
